<section
    class="container w-25 h-100 d-flex justify-content-center align-items-center"
>
    <main class="w-100">
        <div class="card bg-body-secondary">
            <div class="card-body">
                <h2 class="card-title text-center">Sign Up</h2>
                <form action="/auth/signup" method="post">
                    {{> 'partials/components/Input' label='Username' type="text" name="username"}}
                    {{> 'partials/components/Input' label='Email Address' type="email" name="email"}}
                    {{> 'partials/components/Input' label='Password' type="password" name="password"}}
                    <button type="submit" class="btn btn-primary w-100">
                        Sign Up
                    </button>
                    <div class="mt-3">
                        <a href="/auth/login">Login Here!</a>
                    </div>
                </form>
            </div>
        </div>
    </main>
</section>